/*HTML Elements*/
*{
	margin: 0;
	padding: 0;
}

body {
	width: 960px;
	margin: auto;
	line-height: 1.8;
}

h1{
	padding: 30px 10px;
}
h2{
	width: 105px;
	border-bottom: 3px solid Black;
}
h3{
	
	font-size: 20px;
	font-family: Verdana, Helvetica, "Microsoft JhengHei", "微軟正黑體", STXihei, "華文细黑", sans-serif;
	font-weight: normal;
}
p, span {
	font-size: 14px;
	font-family: "Times New Roman", "FangSong", "仿宋", STFangSong, "華文仿宋", serif;
	margin-bottom: 10px;
}
p.figure {
	color: grey;
	font-size: 12px;
}

a {
	color: CornflowerBlue;
	font-size: 12px;
	font-family: Avant Garde, Century Gothic;
	text-decoration: none;
}
a:hover {
	color: DodgerBlue;
}

img {
	width: 100%;
	border-radius: 2px;
	margin-bottom: 10px;
}
img.small {
	width: 66%;
	margin-bottom: 0;
}
img.mini {
	width: 64px;
}

iframe {
	width: 300px;
	height: 200px;
}

#container {
	width: 100%;
	overflow: hidden;
}

#member{
	margin-left: 75px;
}
#demo {
	margin-top: 356px;
}

/*Other classes*/
.box {
	width: 275px;
	margin: 20px;
	float: left;
}
.box.medium{
	width: 520px;
}
.box.large{
	width: 600px;
}

.center {
	display: block;
	margin: 0 auto 20px auto;
}
.left {
	float: left;
}

.title {
	color: orangered;
	border-top: 1px solid LightGrey;
	padding: 20px 0;
}
.subtitle {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
}
.year {
	color:
}







