/*HTML Elements*/
*{
	margin: 0;
	padding: 0;
}

body {
	width: 960px;
	margin: auto;
	line-height: 1.8;
	font-family: Helvetica, Verdana;
}

h1{
	padding: 30px 18px;
}
h2{
	width: 105px;
	border-bottom: 3px solid Black;
}
h3{
	
	font-size: 20px;
	font-family: Verdana, Helvetica, "Microsoft JhengHei", "微軟正黑體", STXihei, "華文细黑", sans-serif;
	font-weight: normal;
}
p, span {
	font-size: 14px;
	font-family: "Times New Roman", "FangSong", "仿宋", STFangSong, "華文仿宋", serif;
	margin-bottom: 10px;
}
p.figure {
	color: grey;
	font-size: 11px;
	font-family: Avant Garde, Century Gothic;
	line-height: 1.5;
}

a {
	color: CornflowerBlue;
	font-size: 12px;
	font-family: Avant Garde, Century Gothic, "Microsoft JhengHei", "微軟正黑體";
	text-decoration: none;
}
a:hover {
	color: DodgerBlue;
}

a.img, a.img:hover {
	color: white;
}

img {
	width: 100%;
	border-radius: 2px;
	margin-bottom: 10px;
	vertical-align: middle;
}
img.medium {
	width: 66%;

}
img.small {
	width: 136px;
	margin-bottom: 3px;
}
img.icon1 {
	width: 32px;
}
img.icon2{
	width: 64px;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}
img.icon2:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
}

iframe {
	width: 300px;
	height: 200px;
}

/*Page Elemets*/
#container {
	width: 100%;
	overflow: hidden;
}

#member{
	margin-left: 75px;
}
#demo {
	margin-top: 48px;
}

#misc {
	background-color: #EEEEEE;
	border-radius: 5px;
	padding: 0 15px;
}

#footer{
	color: grey;
	font-size: 14px;
	text-align: center;
	height: 60px;
}

/*Other classes*/
.box {
	width: 275px;
	margin: 20px;
	float: left;
}
.box.medium{
	width: 520px;
}
.box.large{
	width: 600px;
}

.center {
	display: block;
	margin: 0 auto 20px auto;
}
.left {
	float: left;
}
.right {
	float: right;
	margin-right: 5px;
}

.title {
	color: orangered;
	border-top: 1px solid LightGrey;
	padding: 20px 0;
}
.subtitle {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
}
.year {
	color:
}

.space {	
	margin-left: 10px;
	margin-right: 8px;
}





